_tflow_select==2.2.0
absl-py==      0.10.0
aio-pika==     6.7.1
aiofiles==     0.6.0
aiohttp==      3.6.3
aiormq==       3.3.1
alembic==      1.4.3
apscheduler==  3.6.3
astor==        0.8.1
astunparse==   1.6.3
async-generator           ==1.1
async-timeout==3.0.1
attrs==        20.2.0
blas==1
blinker==1.4
blis==         0.4.1
boto3==        1.16.22
botocore==     1.19.22
brotlipy==     0.7.0
ca-certificates           ==2020.10.14
cachetools==   4.1.1
catalogue==    1.0.0
certifi==      2020.11.8
cffi==         1.14.3
chardet==      3.0.4
click==        7.1.2
cloudpickle==  1.2.2
colorama==     0.4.4
colorclass==   2.2.0
coloredlogs==10
colorhash==    1.0.2
contextlib2==  0.6.0.post1
cryptography== 2.9.2
cycler==       0.10.0
cymem==        2.0.4
decorator==    4.4.2
dm-tree==      0.1.5
dnspython==    1.16.0
docopt==       0.6.2
fbmessenger==  6.0.0
filelock==     3.0.12
future==       0.18.2
gast==         0.3.3
gevent==       1.4.0
gitdb==        4.0.5
gitpython==    3.1.11
google-auth==  1.23.0
google-auth-oauthlib==      0.4.2
google-pasta== 0.2.0
grakn-client== 1.8.1
greenlet==     0.4.17
grpcio==       1.24.1
h11==          0.8.1
h2==           3.2.0
h5py==         2.10.0
hdf5==         1.10.4
hpack==        3.0.0
hstspreload==  2020.11.21
httpcore==     0.11.1
httplib2==     0.18.1
httptools==    0.1.1
httpx==        0.15.4
humanfriendly==8.2
hyperframe==   5.2.0
icc_rt==       2019.0.0
idna==2.1
importlib-metadata==        2.0.0
intel-openmp==2020.2
isodate==      0.6.0
jieba==        0.42.1
jmespath==     0.10.0
joblib==       0.15.1
jsonpickle==1.3
jsonschema==   3.2.0
kafka-python== 1.4.7
keras-applications==        1.0.8
keras-preprocessing==       1.1.2
kiwisolver==   1.3.1
libprotobuf==  3.13.0.1
mako==         1.1.3
markdown==     3.3.3
markupsafe==   1.1.1
matplotlib==   3.1.3
mattermostwrapper==2.2
mkl==2020.2
mkl-service==  2.3.0
mkl_fft==      1.2.0
mkl_random==   1.1.1
multidict==    5.0.0
murmurhash==   1.0.4
networkx==2.4
numpy==        1.19.2
numpy-base==   1.19.2
oauth2client== 4.1.3
oauthlib==     3.1.0
openssl==      1.1.1h
opt_einsum==   3.1.0
packaging==20.4
pamqp==        2.3.0
pika==         1.1.0
pillow==       8.0.1
pip==          20.2.4
plac==         1.1.3
preshed==      3.0.4
prompt-toolkit            ==2.0.10
protobuf==     3.8.0
psycopg2-binary           ==2.8.6
pyasn1==       0.4.8
pyasn1-modules            ==0.2.8
pycparser==2.2
pydot==        1.4.1
pyjwt==        1.7.1
pykwalify==    1.7.0
pymongo==      3.8.0
pyopenssl==    19.1.0
pyparsing==    2.4.7
pyreadline==2.1
pyrsistent==   0.17.3
pysocks==      1.7.1
python==       3.7.9
python-crfsuite           ==0.9.7
python-dateutil           ==2.8.1
python-editor==1.0.4
python-engineio==           3.11.2
python-socketio==           4.4.0
python-telegram-bot==       11.1.0
pytz==2019.3
pyyaml==       5.3.1
questionary==  1.5.2
rasa==         2.1.1
rasa-sdk==     2.1.2
redis==        3.5.3
regex==        2020.9.27
requests==     2.24.0
requests-async==            0.5.0
requests-oauthlib==         1.3.0
requests-toolbelt==         0.9.1
rfc3986==      1.4.0
rocketchat-api==            0.6.36
rsa==4.6
ruamel-yaml==  0.16.12
ruamel-yaml-clib==          0.2.2
s3transfer==   0.3.3
sacremoses==   0.0.43
sanic==        20.9.1
sanic-cors==   0.10.0.post3
sanic-jwt==    1.3.2
sanic-plugins-framework==   0.9.4.post1
scikit-learn== 0.22.2.post1
scipy==        1.5.2            
sentencepiece==0.1.94
sentry-sdk==   0.19.4
setuptools==   50.3.1          
six==          1.15.0           
sklearn-crfsuite==          0.3.6
slackclient==  2.9.3
smmap==        3.0.4
sniffio==      1.2.0
spacy==        2.2.4
sqlalchemy==   1.3.20
sqlite==       3.33.0
srsly==        1.0.4
tabulate==     0.8.7
tensorboard==  2.4.0
tensorboard-plugin-wit==    1.6.0
tensorflow==   2.3.1
tensorflow-addons==         0.11.2
tensorflow-base==           2.1.0           
tensorflow-estimator==      2.3.0
tensorflow-hub==            0.9.0
tensorflow-probability==    0.11.1
termcolor==    1.1.0
terminaltables==            3.1.0
thinc==        7.4.0
threadpoolctl==2.1.0
tokenizers==   0.7.0
tornado==6.1
tqdm==         4.31.1
transformers== 2.11.0
twilio==       6.26.3
typeguard==    2.10.0
typing-extensions==         3.7.4.3
tzlocal==2.1
ujson==        3.2.0
urllib3==      1.25.11
vc==14.1
vs2015_runtime==            14.16.27012         
wasabi==       0.8.0
wcwidth==      0.2.5
webexteamssdk==1.1.1
websockets==8.1
werkzeug==     0.16.1
wheel==        0.35.1
win_inet_pton==1.1.0          
wincertstore==0.2
wrapt==        1.12.1           
yarl==         1.5.1
zipp==         3.4.0
zlib==         1.2.11
fuzzywuzzy==   0.18.0
python-Levenshtein==0.12.0

