atomicwrites==1.4.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
blis==0.4.1
bokeh @ file:///C:/ci/bokeh_1602756017928/work
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1602537397014/work
chardet @ file:///D:/bld/chardet_1602255527687/work
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama==0.4.4
contextvars==2.4
cryptography @ file:///D:/bld/cryptography_1602614277716/work
cymem @ file:///D:/bld/cymem_1591801266669/work
cytoolz==0.11.0
distributed @ file:///C:/ci/distributed_1602083990969/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
HeapDict==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
immutables @ file:///C:/ci/immutables_1592426094604/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
iniconfig==1.1.1
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
langdetect==1.0.7
locket==0.2.0
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
murmurhash==1.0.0
nltk==3.5
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233948451/work
olefile==0.46
packaging==20.4
pandas @ file:///C:/ci/pandas_1602088210462/work
partd==1.1.0
Pillow @ file:///C:/ci/pillow_1602785322033/work
plac==0.9.6
pluggy==0.13.1
preshed @ file:///D:/bld/preshed_1591802317560/work
psutil @ file:///C:/ci/psutil_1598352185190/work
py==1.9.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1602260134717/work
PySocks @ file:///D:/bld/pysocks_1602327039693/work
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex @ file:///C:/ci/regex_1602770568056/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
six==1.15.0
sortedcontainers==2.2.2
spacy @ file:///D:/bld/spacy_1594659357946/work
spacy-langdetect==0.1.2
srsly @ file:///D:/bld/srsly_1589222535061/work
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
thinc @ file:///D:/bld/thinc_1590400627616/work
toml==0.10.1
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
unicode==2.7
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1600272362626/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260226001/work
wincertstore==0.2
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
